header.header
    .container
        .header-box
            a.logo(href="#") <img src="img/logo.svg" alt="" />
            ul.top-menu
                li
                    a.scroll(href="#exs") Преимущества
                li
                    a.scroll(href="#services") Услуги
                li
                    a.scroll(href="#price") Стоимость
                li
                    a.scroll(href="#works") Работы
                li
                    a.scroll(href="#contacts") Контакты
            .phone-box
                a(href="tel:89993457889" class="tel") 8 (999) 345-78-89
                a(href="javascript: void(0);" data-toggle="modal" data-target="#modal" class="callback-link") Перезвоните мне
