header.header
    .container
        .header-box
            a.logo(href="#") <img src="img/logo.svg" alt="" />
            ul.top-menu
                li
                    a Преимущества
                li
                    a Услуги
                li
                    a Стоимость
                li
                    a Работы
                li
                    a Контакты
            .phone-box
                a(href="tel:89993457889" class="tel") 8 (999) 345-78-89
                a(href="#" class="callback-link") Перезвоните мне
