doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Quick Repair
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/vendors.min.css")
            link(rel="stylesheet" href="css/style.css")
    body
        .header-wrap(style="background-image: url(img/top-wrap-bg.jpg);")
            block header
                include header
                .top-wrap
                    .container
                        .desc Мобильный сервисный центр по ремонту телевизоров
                        .title Всего 1 час и ваш телевизор снова заработает!
                        .sale-text Вызовите мастера до конца месяца и получите скидку <b>20%</b> на ремонт
                        a.red-btn(href="#") Вызвать мастера
                    .man(style="background-image: url(img/man.png);")

                .exs.decor-top.decor-bottom
                    .red-line(style="background-image: url(img/red-line.png);")
                    .container
                        .row
                            .col-lg-3
                                .exs-item
                                    .exs-item__num 7
                                    .exs-item__circle <img src="img/circle.png" alt="" />
                                    .exs-item__text лет опыта
                            .col-lg-3
                                .exs-item
                                    .exs-item__num 932
                                    .exs-item__circle <img src="img/circle.png" alt="" />
                                    .exs-item__text отремонтированных телевизоров
                            .col-lg-3
                                .exs-item
                                    .exs-item__num 31
                                    .exs-item__circle <img src="img/circle.png" alt="" />
                                    .exs-item__text мастер в команде
                            .col-lg-3
                                .exs-item
                                    .exs-item__num 2
                                    .exs-item__circle <img src="img/circle.png" alt="" />
                                    .exs-item__text своих склада с запчастями
                    
                .why(style="background-image: url(img/bg-why.jpg);")
                    .container
                        .title Почему стоит вызвать мастера на дом?
                        .row
                            .col-lg-4.col-xl-4
                                .why-item
                                    .why-item-content
                                        .why-item__img <img src="img/why-ico-1.svg" alt="" />
                                        .why-item__title Удобно
                                        .why-item__desc Вам не нужно никуда везти технику самостоятельно, мастер приедет к вам сам

                            .col-lg-4.col-xl-4
                                .why-item
                                    .why-item-content
                                        .why-item__img <img src="img/why-ico-2.svg" alt="" />
                                        .why-item__title Экономит время
                                        .why-item__desc Наши опытные матера оперативно починят неисправность

                            .col-lg-4.col-xl-4
                                .why-item
                                    .why-item-content
                                        .why-item__img <img src="img/why-ico-3.svg" alt="" />
                                        .why-item__title Быстро приезжаем
                                        .why-item__desc В течение 2х часов после посе оформления заявки мастер приедет к вам на вызов

                            .col-lg-4.col-xl-4
                                .why-item
                                    .why-item-content
                                        .why-item__img <img src="img/why-ico-4.svg" alt="" />
                                        .why-item__title Низкая цена
                                        .why-item__desc На протяжении 2х лет мы не поднимаем цены на услуги

                            .col-lg-4.col-xl-4
                                .why-item
                                    .why-item-content
                                        .why-item__img <img src="img/why-ico-5.svg" alt="" />
                                        .why-item__title Гарантия 1 год 
                                        .why-item__desc После ремонта наш мастер выдаст гарантийный талон 

                            .col-lg-4.col-xl-4
                                .why-item
                                    .why-item-content
                                        .why-item__img <img src="img/why-ico-6.svg" alt="" />
                                        .why-item__title Видите ремонт
                                        .why-item__desc Вы можете лично присутствовать при ремонте и контролировать процесс

                .services.decor-top
                    .container
                        .title Услуги
                        .services-items
                            <img class="img-serv" src="img/serv-img.png" alt="" />
                            .services-item.services-item-1
                                .services-item-content
                                    .services-item__title Не переключает каналы
                                    .services-item__price Цена ремонта от 490  ₽

                            .services-item.services-item-2
                                .services-item-content
                                    .services-item__title Не включается
                                    .services-item__price Цена ремонта от 550  ₽

                            .services-item.services-item-3
                                .services-item-content
                                    .services-item__title Нет звука
                                    .services-item__price Цена ремонта от 590  ₽

                            .services-item.services-item-4
                                .services-item-content
                                    .services-item__title Не показывает
                                    .services-item__price Цена ремонта от 590  ₽

                            .services-item.services-item-5
                                .services-item-content
                                    .services-item__title Нет сигнала
                                    .services-item__price Цена ремонта от 450  ₽

                       
                        a.red-btn(href="#") смотреть цены
                
                .price
                    .left-op
                    .right-op
                    .blue-line
                    .container
                        .title Стоимость
                        .price-btns                             
                            a(href="javascript:void(0);" data-switch="elem-1") Не включается
                            a(href="javascript:void(0);" data-switch="elem-2" class="active") Не показывает 
                            a(href="javascript:void(0);" data-switch="elem-3") Нет звука 
                            a(href="javascript:void(0);" data-switch="elem-4") Нет сигнала
                            a(href="javascript:void(0);" data-switch="elem-5") Не переключает каналы
                        .elems-bug
                            .elem-bug#elem-1(style="display:none;")
                                .row
                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-1.jpg);")
                                            .bug-item__title Ремонт блока изображения
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Недостаточная яркость
                                                li Отключенные лампы подсветки
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-2.jpg);")
                                            .bug-item__title Замена лампы подсветки
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Появился розовый оттенок изображения
                                                li Подсветка полностью гаснет после включения
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-3.jpg);")
                                            .bug-item__title Замена экрана телевизора
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Появление горизонтальных или вертикальных полос
                                                li Мигающее изображение
                                                li Нарушение целостности экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 890 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-4.jpg);")
                                            .bug-item__title Ремонт инвертора
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Недостаточная яркость
                                                li Отключенные лампы подсветки
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 590 руб.

                            .elem-bug#elem-2
                                .row
                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-1.jpg);")
                                            .bug-item__title Ремонт блока изображения
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Недостаточная яркость
                                                li Отключенные лампы подсветки
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-2.jpg);")
                                            .bug-item__title Замена лампы подсветки
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Появился розовый оттенок изображения
                                                li Подсветка полностью гаснет после включения
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-3.jpg);")
                                            .bug-item__title Замена экрана телевизора
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Появление горизонтальных или вертикальных полос
                                                li Мигающее изображение
                                                li Нарушение целостности экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 890 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-4.jpg);")
                                            .bug-item__title Ремонт инвертора
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Недостаточная яркость
                                                li Отключенные лампы подсветки
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 590 руб.

                            .elem-bug#elem-3(style="display:none;")
                                .row
                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-1.jpg);")
                                            .bug-item__title Ремонт блока изображения
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Недостаточная яркость
                                                li Отключенные лампы подсветки
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-2.jpg);")
                                            .bug-item__title Замена лампы подсветки
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Появился розовый оттенок изображения
                                                li Подсветка полностью гаснет после включения
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.


                            .elem-bug#elem-4(style="display:none;")
                                .row
                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-1.jpg);")
                                            .bug-item__title Ремонт блока изображения
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Недостаточная яркость
                                                li Отключенные лампы подсветки
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-2.jpg);")
                                            .bug-item__title Замена лампы подсветки
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Появился розовый оттенок изображения
                                                li Подсветка полностью гаснет после включения
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                            .elem-bug#elem-5(style="display:none;")
                                .row
                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-1.jpg);")
                                            .bug-item__title Ремонт блока изображения
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Недостаточная яркость
                                                li Отключенные лампы подсветки
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                                    .col-lg-6
                                        .bug-item(style="background-image: url(img/price-2.jpg);")
                                            .bug-item__title Замена лампы подсветки
                                            .bug-item__subtitle Симптомы:
                                            ul
                                                li Появился розовый оттенок изображения
                                                li Подсветка полностью гаснет после включения
                                                li Отсутствие равномерной подсветки экрана
                                            .bug-item__price
                                                span Стоимость работы:
                                                i 790 руб.

                .brands.decor-top.decor-bottom
                    .container
                        .title Марки, с которыми мы работаем    
                        .brands-slider.swiper-container
                            .brands-wrapper.swiper-wrapper
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-1.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-2.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-3.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-4.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-5.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-6.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-7.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-8.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-9.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-10.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-11.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-12.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-1.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-2.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-3.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-4.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-5.png" alt="" />
                                .swiper-slide
                                    .swiper-slide-content <img src="img/brand-6.png" alt="" />
                            .swiper-pagination-brands
                        .swiper-button-brands-prev.swiper-button-prev
                        .swiper-button-brands-next.swiper-button-next


        
        

        block footer
            include footer
        block scripts
            script(src='js/vendors.min.js')
            script(src='js/main.js')
